<div class="container " id="<%= dom_id mission %>">
  <p>
    <strong>Start at:</strong>
    <%= mission.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= mission.end_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= mission.default_price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mission.description %>
  </p>

</div>
