<div id="<%= dom_id artisan %>">
  <p>
    <strong>First name:</strong>
    <%= artisan.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= artisan.last_name %>
  </p>

  <p>
    <strong>Tjm:</strong>
    <%= artisan.tjm %>
  </p>

  <p>
    <strong>Siret:</strong>
    <%= artisan.siret %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artisan.description %>
  </p>

</div>
