<div id="<%= dom_id artisan %>">
  <p>
    <strong>First name:</strong>
    <%= artisan.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= artisan.last_name %>
  </p>
   <ul>
    <strong>Skills </strong>
    <% artisan.skills.each do |skill| %>
    <li><%= skill.name%></li>
    <%end%>
  </ul>

  <p>
    <strong>Tjm:</strong>
    <%= artisan.tjm %>
  </p>

  <p>
    <strong>Siret:</strong>
    <%= artisan.siret %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artisan.description %>
  </p>

</div>
